<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="joseoliva.com.proyectodam"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <uses-permission android:name="android.permission.START_VIEW_PERMISSION_USAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoDAM">
        <activity android:name=".activities.ChatActivity"></activity>
        <activity
            android:name=".activities.SplashScreen"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FiltersActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.UserProfileActivity"
            android:parentActivityName=".activities.PostDetallesActivity" />
        <activity
            android:name=".activities.PostDetallesActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <activity android:name=".activities.EditPerfilActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="joseoliva.com.proyectodam"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activities.PostActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.MainActivity"></activity>

        <service
            android:name=".services.MyFirebaseMessagingClient"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <receiver android:name=".receivers.MessageReceiver"
            android:enabled="true"
            android:exported="false"/>

        <!-- para usar la api de maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC7G-z-EtSgKpqHXEfFDyjajJKfDuaui1o"/>

    </application>

</manifest>